<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Credit Card Fraud Detection</title>

    <!-- CSS for Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- CSS for Navbar/Footer/Page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">

    <!-- CSS for current page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
</head>

<body>
    <div class="container-fluid shadow rounded p-3">
        <!-- Navigation Bar -->
        <div id="nav-placeholder" pagename="#about-li"></div>
        <!-- Main Page Content -->
        <div class="container-fluid p-5">
            <div class="row p-5">
                <div class="col-4-md p-5">
                    <!--  card 1 -->
                    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                        <div class="card-header">Crystal</div>
                        <div class="card-body">
                            <h4 class="card-title" style="visibility:hidden">Primary card title</h4>
                            <p class="card-text" style="visibility:hidden">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-4-md p-5">
                    <!--  card 2 -->
                    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                        <div class="card-header">Jamel</div>
                        <div class="card-body">
                            <h4 class="card-title" style="visibility:hidden">Primary card title</h4>
                            <p class="card-text" style="visibility:hidden">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-4-md p-5">
                    <!--  card 3 -->
                    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                        <div class="card-header">Prarthna</div>
                        <div class="card-body">
                            <h4 class="card-title" style="visibility:hidden">Primary card title</h4>
                            <p class="card-text" style="visibility:hidden">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-4-md p-5">
                    <!--  card 4 -->
                    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                        <div class="card-header">Usha</div>
                        <div class="card-body">
                            <h4 class="card-title" style="visibility:hidden">Primary card title</h4>
                            <p class="card-text" style="visibility:hidden">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <div id="footer-placeholder"></div>
        </div>
    </div>
</body>

</html>