<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Credit Card Fraud Detection</title>

    <!-- CSS for Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- CSS for Navbar/Footer/Page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- CSS for current page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
</head>

<body>
    <div class="container-fluid p-3">
        <!-- Navigation Bar -->
        <div id="nav-placeholder" pagename="#about-li"></div>
        <!-- Main Page Content -->
        <div class="container-fluid">
            <div class="text-center">
                <p class="m-0">Hover over to know more about each team member</p>
            </div>
            <div class="row">
                <div class="col">
                    <div class="d-flex justify-content-center">
                        <div class="box">
                            <div id="card-container">
                                <div id="card">
                                    <div class="front face">
                                        <img class="team-images" src="../static/images/collaborators/Crystal.png" />
                                    </div>
                                    <div class="back face">
                                        <h1 class="h1-name">Crystal Dalsania</h1>
                                        <p class="artist">Business Data Analyst</p>
                                        <ul class="social-media">
                                            <li><a href="https://twitter.com/DalsaniaCrystal"><i class="fa fa-custom-twitter"></i></a></li>
                                            <li><a href="mailto:dalsania.crystal@gmail.com"><i class="fa fa-custom-google"></i></a></li>
                                            <li><a href="http://linkedin.com/in/crystaldalsania"><i class="fa fa-custom-linkedin"></i></a></li>
                                            <li><a href="https://github.com/cdalsania"><i class="fa fa-custom-github"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="card-container">
                                <div id="card2">
                                    <div class="front face">
                                        <img class="team-images" src="../static/images/collaborators/Jamel.png" />
                                    </div>
                                    <div class="back face">
                                        <h1 class="h1-name">Jamie Brown</h1>
                                        <p class="artist">Corporate Technical Recruiter / SQL Developer</p>
                                        <ul class="social-media">
                                            <li><a href="mailto:JayyMaurice@gmail.com"><i class="fa fa-custom-google"></i></a></li>
                                            <li><a href="https://www.linkedin.com/in/jamie-brown-124550126/"><i class="fa fa-custom-linkedin"></i></a></li>
                                            <li><a href="https://github.com/JayyMaurice2020"><i class="fa fa-custom-github"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="card-container">
                                <div id="card3">
                                    <div class="front face">
                                        <img class="team-images" src="../static/images/collaborators/John.png" />
                                    </div>
                                    <div class="back face">
                                        <h1 class="h1-name">John Klinges</h1>
                                        <p class="artist">Attorney/Financial Risk Manager</p>
                                        <ul class="social-media">
                                            <li><a href="mailto:jklinges13@gmail.com"><i class="fa fa-custom-google"></i></a></li>
                                            <li><a href="https://www.linkedin.com/in/john-klinges-jd-mba-mpa-frm-caia-pmp-4b54897/"><i class="fa fa-custom-linkedin"></i></a></li>
                                            <li><a href="https://github.com/jklinges"><i class="fa fa-custom-github"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex justify-content-center">
                        <div class="box">
                            <div id="card-container">
                                <div id="card">
                                    <div class="front face">
                                        <img class="team-images" src="../static/images/collaborators/Nick.png" />
                                    </div>
                                    <div class="back face">
                                        <h1 class="h1-name">Nicholas Burns</h1>
                                        <p class="artist">Accountant/Business Analyst</p>
                                        <ul class="social-media">
                                            <li><a href="mailto:burns664@gmail.com"><i class="fa fa-custom-google"></i></a></li>
                                            <li><a href="https://www.linkedin.com/in/nicholas-burns2018"><i class="fa fa-custom-linkedin"></i></a></li>
                                            <li><a href="https://github.com/nmburns"><i class="fa fa-custom-github"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="card-container">
                                <div id="card2">
                                    <div class="front face">
                                        <img class="team-images" src="../static/images/collaborators/Prarthna.png" />
                                    </div>
                                    <div class="back face">
                                        <h1 class="h1-name">Prarthna</h1>
                                        <p class="artist">Data Analyst</p>
                                        <ul class="social-media">
                                            <li><a href="mailto:prarthna76@gmail.com"><i class="fa fa-custom-google"></i></a></li>
                                            <li><a href="http://linkedin.com/in/prarthna-ashutoshmunidottir"><i class="fa fa-custom-linkedin"></i></a></li>
                                            <li><a href="https://github.com/Prarthna-design"><i class="fa fa-custom-github"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="card-container">
                                <div id="card3">
                                    <div class="front face">
                                        <img class="team-images" src="../static/images/collaborators/Usha.png" />
                                    </div>
                                    <div class="back face">
                                        <h2 class="h2-name">Usha Saravanakumar</h2>
                                        <p class="artist">Data Analyst</p>
                                        <ul class="social-media">
                                            <li><a href="mailto:ushaakumaar@gmail.com"><i class="fa fa-custom-google"></i></a></li>
                                            <li><a href="https://www.linkedin.com/in/ushasaravanakumar/"><i class="fa fa-custom-linkedin"></i></a></li>
                                            <li><a href="https://github.com/ushaakumaar"><i class="fa fa-custom-github"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <div id="footer-placeholder"></div>
        </div>
    </div>
    <!-- Scripts for JQuery, Bootstrap and D3.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <!-- Scripts for navbar and footer -->
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/footer.js') }}"></script>

    <!-- Script for current page -->
    <script src="{{ url_for('static', filename='js/about.js') }}"></script>

</body>

</html>