<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Credit Card Fraud Detection</title>

    <!-- CSS for Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- CSS for Navbar/Footer/Page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">

</head>

<body>
    <div class="container-fluid shadow rounded p-3">
        <!-- Navigation Bar -->
        <div id="nav-placeholder" pagename="#conclusions-li"></div>
        <!-- Main Page Content -->
        <div class="container p-0">
            <div class="row">
                <div class="col-12">
                    <div class="jumbotron jumbo mt-4">
                        <h1>Conclusion</h1>
                        <p class="lead text-justify ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. Vestibulum id metus ac nisl bibendum scelerisque non non
                            purus. Suspendisse varius nibh non aliquet sagittis. In tincidunt orci sit amet elementum vestibulum. Vivamus fermentum in arcu in aliquam. Quisque aliquam porta odio in fringilla. Vivamus nisl leo, blandit at bibendum eu,
                            tristique eget risus. Integer aliquet quam ut elit suscipit, id interdum neque porttitor.</p>
                    </div>

                    <h1>Acknowledgements</h1>
                    <p class="lead text-justify ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. Vestibulum id metus ac nisl bibendum scelerisque non non purus.
                        Suspendisse varius nibh non aliquet sagittis. In tincidunt orci sit amet elementum vestibulum. Vivamus fermentum in arcu in aliquam. Quisque aliquam porta odio in fringilla. Vivamus nisl leo, blandit at bibendum eu, tristique eget
                        risus. Integer aliquet quam ut elit suscipit, id interdum neque porttitor.</p>
                    <h1 class="mt-5">References</h1>
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action">Reference 1</a>
                        <a href="#" class="list-group-item list-group-item-action">Reference 2</a>
                        <a href="#" class="list-group-item list-group-item-action">Reference 3</a>
                    </div>
                    <h1 class="mt-5">Citations</h1>
                    <div class="list-group mb-5">
                        <a href="#" class="list-group-item list-group-item-action">Citation 1</a>
                        <a href="#" class="list-group-item list-group-item-action">Citation 2</a>
                        <a href="#" class="list-group-item list-group-item-action">Citation 3</a>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <div id="footer-placeholder"></div>
        </div>
    </div>
</body>

</html>