<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <a class="navbar-brand" href="/">
        <img class="nav-logo" src="/static/images/Logo.png" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active" id="home-li">
                <a class="nav-link" href="/">Home
            <span class="sr-only">(current)</span>
          </a>
            </li>
            <li class="nav-item" id="data-li">
                <a class="nav-link" href="/data">Data</a>
            </li>
            <li class="nav-item" id="analysis-li">
                <a class="nav-link" href="/research">Research</a>
            </li>
            <li class="nav-item" id="predictions-li">
                <a class="nav-link" href="/predictions">Predictions</a>
            </li>
            <li class="nav-item" id="conclusions-li">
                <a class="nav-link" href="/conclusions">Conclusions</a>
            </li>
            <li class="nav-item" id="about-li">
                <a class="nav-link" href="/about">About Us</a>
            </li>
        </ul>
    </div>
</nav>